language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly

before_install:
      - sudo add-apt-repository ppa:zoogie/sdl2-snapshots -y
      - sudo apt-get update -q
      - sudo apt-get install libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev -y
